body {
  background: #1E555C;
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: 'Courier New';
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.App-header {
  font-size: 1.8em;
  font-weight: bold;
}

.Configure {
  display: flex;
  flex-direction: row;
}

.Break-length {
  display: flex;
  flex-direction: column;
  margin: 20px 20px auto 20px;
}

.Break-interval {
  display: flex;
  flex-direction: row;
  margin: 20px 20px auto 20px;
}

.Button {
  margin: 10px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;  
}

button {
  color: white;
  background-color: #1E555C; 
  padding: 5px 12px;
  margin: 0 10px;
  height: 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

/*note:;
Timer properties.
IMPORTANT:  flex needs to apply at every container if flex display
is needed for that containter -- not just parent app;
*/

